/* ==========================================================================
    [Table of contents]

    1. BASE
        1.1 Page Rendering Defaults
        1.2 Core Styling
        1.3 Typography
    2. LAYOUT
        2.1 Core Layout
        2.2 Small only
        2.3 medium and up
        2.4 Medium only
        2.5 large screens and up
    3. UTILITY classes
    4. PRINT

    refer to http://smacss.com/
    ========================================================================== */

/* ==========================================================================
   BASE
   ========================================================================== */

/* 1.1 Page Rendering Defaults */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* 1.2 Core Styling */

/* refer to https://css-tricks.com/box-sizing/ */

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* 1.3 Typgraphy */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 16pt;
}

h4 {
  font-size: 9pt;
}

h5 {
  font-size: 7pt;
}

p {
  font-family: Ubuntu, sans-serif;
  font-size: 6.5pt;
}

.intro--text {
  font-weight: 400;
}

.intro--emphasis {
  color: rgb(30, 175, 222);
}

.text--color {
  color: white;
}

/* ==========================================================================
 2. LAYOUT
 ========================================================================== */

/* Helper to display empty layout containers*/

div,
main,
section,
footer,
header {
  /* outline: 1px solid #ccc; */
  min-height: 1rem;
  padding: 0.8rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 2.1 Core layout */

.row {
  display: grid;
  row-gap: 1rem;
}

.col {
  position: relative;
  background-color: rgb(242, 230, 177);
}

.blog__body {
  margin: 0;
}

.page {
  width: 55rem;
}

/* Header */

.page__head {
  display: grid;
  grid-template-columns: 3.5fr 1fr 1fr 1fr 1fr 1fr;
  min-height: 6rem;
  padding-top: 0;
  padding-bottom: 0;
}

.head__tag--logo {
  display: grid;
  flex-direction: row;
  padding: 0.8rem
}

.company__logo {
  width: 12rem;
  object-fit: contain;
}

.head__tag {
  display: flex;
  flex-direction: column;
  min-width: 6rem;
  justify-content: flex-end;
}

.head__tag--home {
  background-color: rgba(37, 195, 137);
}

.head__tag--pages {
  background-color: rgba(255, 185, 1);
}

.head__tag--blog {
  background-color: rgba(222, 98, 98);
}

.head__tag--portfolio {
  background-color: rgba(22, 145, 189);
}

.head__tag--homesecond {
  background-color: rgba(22, 107, 162);
}

.tag__icon {
  width: 2rem;
  margin: auto;
  padding: 0.3rem;
  border-radius: 99rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.tag__text {
  color: white;
  font-weight: 600;
  text-align: left;
}

.tag--show {
  display: none;
}

/* Slider */
.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
  min-height: 10rem;
  width: 100%;
  padding: 0;
}

.slider__img {
  width: 70rem;
}

.slider__text {
  position: absolute;
  display: grid;
  grid-template-columns: 100%;
  padding: 0;
}

.slider__text--empty {
  display: none;
}

.slider__text--body>h2 {
  text-align: left;
  font-weight: 400;
  line-height: 200%;
}

.slider__text--content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem 1.5rem;
}

.slider__text--bar {
  padding: 0.5rem 0.2rem;
}

.text__bar--A {
  background-color: rgba(22, 107, 162);
}

.text__bar--B {
  background-color: rgba(222, 98, 98);
}

.text__bar--C {
  background-color: rgba(255, 185, 1);
}

/* Main - intro */
.main__intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
}

/* Main - Things That We Do */
.main {
  padding: 0;
}

.main__heading {
  padding: 1.2rem;
}

.main__heading>h2 {
  font-weight: 400;
}

.main__heading>h5 {
  color: rgb(163, 163, 163);
}

.action__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  padding: 0;
}

.action__grid--category {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.category--icon {
  width: 4.5rem;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid;
}

.icon--border-a {
  border-color: rgb(254, 185, 2);
}

.icon--border-b {
  border-color: rgb(37, 195, 137);
}

.icon--border-c {
  border-color: rgb(237, 91, 94);
}

.icon--border-d {
  border-color: rgb(31, 168, 212);
}

.category--flex {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.category--flex--title {
  font-weight: 600;
}

.category--flex--text {
  color: rgb(147, 147, 147);
  text-align: center;
}

/* Main - What's Up Lately */
.recent__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "posta postb postc";
  gap: 1rem;
  padding: 0;
}

.recent__grid--post {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.post-a {
  grid-area: posta;
}

.post-b {
  grid-area: postb;
}

.post-c {
  grid-area: postc;
}

.post-d {
  grid-area: postd;
}

.post--desc {
  display: grid;
  grid-template-columns: 5fr 1.5fr;
  padding: 0;
  background-color: rgba(25, 178, 222, 1);
}

.post--desc>* {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.post--desc--text>* {
  text-align: left;
  color: white;
  margin-left: 0.5rem;
}

.post--desc--icon {
  width: 2rem;
  padding: 0.3rem;
  margin: auto 0.5rem 0.5rem auto;
  background-color: rgb(21, 150, 189);
}

.post--date {
  display: flex;
  flex-direction: column;
  place-content: center;
  position: absolute;
  background-color: rgb(216, 96, 95);
  width: 3em;
  height: 2.5em;
  padding: 0;
}

.post--date>* {
  color: white;
}

/* main - Separator */
.main__separator {
  display: grid;
  grid-template-columns: 2.5fr 6fr;
  place-content: center;
  height: 4rem;
}

.main__separator--first {
  border-color: rgb(28, 177, 219);
  border-width: 0.2rem;
}

.main__separator--second {
  border-color: rgb(234, 234, 234);
}

/* Main - Our Latest Projects */
.project__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0;
}

.project__grid--post {
  position: relative;
  padding: 0;
}

/* Main - Thingsofabove */
.thing__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
  padding: 0;
}

.thing__content--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  gap: 0.5rem;
}

.content--expand {
  padding: 0;
  outline: 1px solid #ccc;
}

.content--bar {
  display: grid;
  grid-template-columns: 2fr auto;
  padding: 0;
  outline: 1px solid #ccc;
}

.bar--color {
  background-color: rgba(25, 178, 222, 1);
}

.content--bar--text {
  text-align: left;
  margin: auto 1rem auto;
  font-weight: 400;
}

.content--bar--plus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.1);
  outline: 1px solid #ccc;
}

.content--bar--plus>h2 {
  font-weight: 400;
}

.content--expand--body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 1.5rem;
  background-color: rgb(248, 248, 248);
}

.content--box--icon {
  padding: 0.5rem;
  background-color: rgb(37, 195, 137);
}

.content--box--text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 1rem;
}

.content--box--text--title {
  font-weight: 400;
}

.content--box--text--subtitle {
  text-align: left;
  line-height: 200%;
  color: rgb(147, 147, 147);
}

/* Main - Tab */
.thing__content--right {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.tab--box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0;
  min-height: 2.5rem;
}

.tab--color {
  background-color: rgb(248, 248, 248);
  color: rgb(147, 147, 147);
}

.tab--box--tab {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 0;
}

.tab--box--tab>h4 {
  font-weight: 400;
}

.tab--select {
  border-bottom: 0;
}

.tab--empty {
  border: 0;
  border-bottom: 1px solid #ccc;
}

.content--right--box {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  border: 1px solid #ccc;
  border-top: 0;
}

.right__content {
  display: grid;
  grid-template-columns: 1fr 11fr;
  padding: 0;
  padding-left: 1rem;
  align-items: center;
  justify-items: stretch;
}

.content--right--text {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  vertical-align: middle;
  line-height: 200%;
  color: rgb(147, 147, 147);
}

.content--right--icon {
  place-items: center;
  padding: 0.6rem;
}

.icon--color-a {
  background-color: rgb(221, 96, 100);
}

.icon--color-b {
  background-color: rgb(37, 195, 137);
}

.icon--color-c {
  background-color: rgb(255, 185, 1);
}

.icon--color-d {
  background-color: rgb(133, 44, 154);
}

/* Main - Logo */
.main__partner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 2rem 0 2rem 0;
  column-gap: 1.5rem;
}

.partner {
  max-height: 5rem;
  background-color: rgb(246, 246, 246);
  display: flex;
  place-items: center;
}

.partner--img {
  max-height: 5rem;
  object-fit: contain;
}

/* Footer */


.page_footer {
  background-color: rgb(22, 36, 47);
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
}

.page_footer>div {
  padding-bottom: 0;
}

.footer__author {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  gap: 1rem;
}

.author--profile {
  display: absolute;
  color: #fff;
  padding: 0;
}

.author--pic {
  width: 5rem;
  aspect-ratio: 1/1;
  border-radius: 999rem;
}

.profile--name {
  text-align: left;
  justify-content: left;
  font-weight: 600;
}

.author--profile>p {
  font-style: italic;
}

.footer__separator {
  display: grid;
  grid-template-columns: 1fr 10fr;
  place-content: center;
  height: 0rem;
  margin: 1rem 0;
  padding: 0;
}

.footer__separator--first {
  border-color: rgb(28, 177, 219);
  border-width: 0.05rem;
}

.footer__separator--second {
  border-color: rgb(234, 234, 234);
  border-width: 0.05rem;
}

/* Misc */

.footer__misc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.misc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

/* About Us */

.misc--header {
  text-align: left;
  justify-content: center;
  color: #fff;
  font-weight: 400;
}

.misc--about {
  color: #fff;
}

.about--text {
  line-height: 200%;
  margin: 0;
}

.about--social {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  align-items: center;
  padding: 0;
  width: 80%;
}

.about__social--icon {
  width: 20%;
  aspect-ratio: 1/1;
}

/* Flickr */

.flickr__photo--grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0;
  gap: 0.5rem;
}

/* Tweet */

.tweet__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

.tweet__content__box {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 0.5rem;
}

.tweets--icon {
  width: 3.5rem;
  object-fit: contain;
  object-position: 0% 0%;
}

.tweets--text {
  color: rgb(255, 255, 255);
  flex-grow: 1;
  line-height: 200%;
  margin: 0;
}

/* News */

.news__text {
  color: white;
  margin: 0;
  line-height: 200%;
}

.news__email {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
  max-width: 100%;
}

.news__email--input {
  background-color: rgb(221, 94, 100);
  border: none;
  height: 2rem;
  flex-grow: 1;
}

::placeholder {
  color: white;
  font-size: 8pt;
}

.news__email--button {
  height: 2rem;
  border: none;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news__email--button-click {
  background-color: rgb(255, 185, 1);
  width: 2rem;
  height: 2rem;
  border: none;
}

.news__email--icon {
  position: absolute;
  width: 1rem;
}

/* Bottom Color */

.footer--boxes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
}

.boxes {
  width: 6rem;
  height: 1.5rem;
}

.boxes--colorA {
  background-color: rgb(37, 195, 137);
}

.boxes--colorB {
  background-color: rgb(255, 185, 1);
}

.boxes--colorC {
  background-color: rgb(222, 98, 98);
}

.boxes--colorD {
  background-color: rgb(22, 145, 189);
}

.boxes--colorE {
  background-color: rgb(22, 107, 162);
}

.misc--line {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.misc--line--color {
  border-width: 0.1rem;
  margin-top: 0.3rem;
  margin-bottom: 0rem;
}

.misc--line--triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  padding: 0;
  margin-left: 1rem;
}

.line--colorA {
  border-color: rgb(37, 195, 137);
}

.triangle--colorA {
  border-color: rgb(37, 195, 137) transparent transparent transparent;
}

.line--colorB {
  border-color: rgb(255, 185, 1);
}

.triangle--colorB {
  border-color: rgb(255, 185, 1) transparent transparent transparent;
}

.line--colorC {
  border-color: rgb(222, 98, 98);
}

.triangle--colorC {
  border-color: rgb(222, 98, 98) transparent transparent transparent;
}

.line--colorD {
  border-color: rgb(22, 145, 189);
}

.triangle--colorD {
  border-color: rgb(22, 145, 189) transparent transparent transparent;
}

/* 2.2 Small only */

@media screen and (max-width: 39.9375em) {
  h1 {
    font-size: 16pt;
  }

  .page {
    width: 20rem;
  }

  .page__head {
    min-height: 1rem;
  }

  .company__logo {
    width: 7rem;
  }

  .slider {
    display: none;
  }

  .main__intro {
    min-height: 6rem;
  }

  .main__thing {
    display: none;
  }

  .main__partner {
    display: none;
  }

  .action__grid {
    grid-template-columns: 1fr;
  }

  .recent__grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "posta"
      "postb"
      "postc"
      "postd";
  }

  .project__grid {
    grid-template-columns: 1fr;
  }

  .tag--hide {
    display: none;
  }

  .tag--show {
    display: initial;
  }

  .head__menu {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    background-color: rgb(57, 145, 191);
    height: 80%;
    aspect-ratio: 1/1;
    padding: 0.3rem;
    margin-top: 0.2rem;
  }

  .action__grid--category {
    flex-direction: row;
    gap: 0.5rem;

    align-items: flex-start;
  }

  .category--icon {
    width: 3rem;
  }

  .category--flex {
    align-items: flex-start;
  }

  .category--flex--text {
    text-align: left;
    margin: 0;
  }

  .footer__misc {
    grid-template-columns: repeat(1, 1fr);
  }

  .misc {
    padding: 1rem 0;
  }

  .footer__separator {
    grid-template-columns: 1fr 4fr;
  }

  .footer__separator--second {
    width: 150%;
  }

  .misc--hidden {
    display: none;
  }

  .author--pic {
    width: 60rem;
  }

  .about--social {
    width: 80%;
    align-self: center;
  }

  .footer--boxes {
    padding-top: 5rem;
  }

  .misc--line--color {
    width: 80%;
  }
}

/* 2.3 medium and up */

@media screen and (min-width: 40em) {
  .post--desc-hide {
    display: none;
  }

  .post--desc-full {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 178, 222, 0.90);
  }

  .recent--post--hide {
    display: none;
  }
}

/* 2.4 Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  h1 {
    font-size: 19pt;
  }

  .page {
    width: 40rem;
  }

  .company__logo {
    align-self: flex-end;
  }

  .slider__img {
    max-width: 50rem;
  }

  .action__grid {
    grid-template-columns: 1fr 1fr;
  }

  .recent__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "posta posta"
      "postb postc";
  }

  .post-a {
    flex-direction: row;
  }

  .desc-tablet {
    width: 110%;
  }

  .project__grid {
    grid-template-columns: 1fr 1fr;
  }

  .thing__grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .content--expand--body {
    grid-template-columns: 1fr 9fr;
  }

  .right__content {
    grid-template-columns: 1fr 16fr;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }

  .footer__misc {
    grid-template-columns: repeat(2, 1fr);
  }

  .misc {
    padding: 1rem 0;
  }

  .footer__separator--second {
    width: 150%;
  }
}

/* 2.5 large screens and up 2.6 Large only */

/* @media screen and (min-width: 64em) {

} */

/* ==========================================================================
 3. UTILITY classes
 ========================================================================== */

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
 4. PRINT  styles.
 Inlined to avoid the additional HTTP request:
 https://www.phpied.com/delay-loading-your-print-css/
 ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
 * Don't show links that are fragment identifiers,
 * or use the `javascript:` pseudo protocol
 */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
}